In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("possum.csv")

In [3]:
df

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [5]:
df.isnull().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [9]:
df["footlgth"].mean()

68.45922330097089

In [11]:
df["footlgth"][df["footlgth"].isnull()==True]

Series([], Name: footlgth, dtype: float64)

In [10]:
df["footlgth"][df["footlgth"].isnull()==True] = df["footlgth"].mean()

C:\Users\azzrd\AppData\Local\Temp\ipykernel_32\811024244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["footlgth"][df["footlgth"].isnull()==True] = df["footlgth"].mean()

In [13]:
df["age"][df["age"].isnull()==True]

43   NaN
45   NaN
Name: age, dtype: float64

In [14]:
data = df.drop([43,45])

In [16]:
data.reset_index(drop=True, inplace=True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      102 non-null    int64
 1   site      102 non-null    int64
 2   Pop       102 non-null    object
 3   sex       102 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   102 non-null    float64
 6   skullw    102 non-null    float64
 7   totlngth  102 non-null    float64
 8   taill     102 non-null    float64
 9   footlgth  102 non-null    float64
 10  earconch  102 non-null    float64
 11  eye       102 non-null    float64
 12  chest     102 non-null    float64
 13  belly     102 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.3+ KB

In [36]:
data["Pop"].value_counts()

other    58
Vic      44
Name: Pop, dtype: int64

In [38]:
data["sex"].value_counts()

m    59
f    43
Name: sex, dtype: int64

In [31]:
corr = data.corr()[(data.corr()["age"]>0.2) & (data.corr()["age"]<0.9)]["age"].sort_values(ascending = False)
corr

belly       0.354298
chest       0.334209
hdlngth     0.319022
skullw      0.285107
totlngth    0.260280
eye         0.235553
Name: age, dtype: float64

In [39]:
indexes = corr.index
indexes

pandas.core.indexes.base.Index

In [40]:
x = data[['belly', 'chest', 'hdlngth', 'skullw', 'totlngth', 'eye', "sex", "Pop"]]
x = pd.get_dummies(x, drop_first = True, )
y = data["age"]

In [41]:
x

     belly  chest  hdlngth  skullw  totlngth   eye  sex_m  Pop_other
0     36.0   28.0     94.1    60.4      89.0  15.2      1          0
1     33.0   28.5     92.5    57.6      91.5  16.0      0          0
2     34.0   30.0     94.0    60.0      95.5  15.5      0          0
3     34.0   28.0     93.2    57.1      92.0  15.2      0          0
4     33.0   28.5     91.5    56.3      85.5  15.1      0          0
..     ...    ...      ...     ...       ...   ...    ...        ...
97    27.0   23.0     89.5    56.0      81.5  14.8      1          1
98    33.0   25.0     88.6    54.7      82.5  14.0      1          1
99    30.0   25.0     92.4    55.0      89.0  13.0      0          1
100   29.0   25.0     91.5    55.2      82.5  15.4      1          1
101   33.5   28.5     93.6    59.9      89.0  14.8      0          1

[102 rows x 8 columns]

# Machine Learning - Regression

In [44]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

from sklearn.model_selection import train_test_split

In [45]:
def regression_test(x,y):
    
    L = LinearRegression()
    E = ElasticNet()
    R = Ridge()
    Lass = Lasso()
    ETR = ExtraTreeRegressor()
    GBR = GradientBoostingRegressor()
    XGBC = XGBRegressor()
    
    x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state=42)
    
    aziz_models = [L, E, R, Lass, ETR, GBR, XGBC]
    aziz_names = ["Linear Reg.", "ElasticNet Reg.", "Ridge Reg.", "Lasso Reg.",
                 "Extra Tree Reg.", "Gadient Boosting Reg.", "xGradient Boosting Reg."]
    r_squared = []
    rmse = []
    mae = []
    
    result = pd.DataFrame(columns = ["R_Squared", "RMSE", "MAE"], index = aziz_names)
    
    for aziz in aziz_models:
        aziz.fit(x_train, y_train)
        az = aziz.predict(x_test)
        
        r_squared.append(r2_score(y_test, az))
        rmse.append(mean_squared_error(y_test, az)**.5)
        mae.append(mean_absolute_error(y_test, az))
    
    
    
    result.R_Squared = r_squared
    result.RMSE = rmse
    result.MAE = mae
    
    return result.sort_values("R_Squared", ascending = False)

In [46]:
regression_test(x,y)

                         R_Squared      RMSE       MAE
Extra Tree Reg.           0.406250  1.647509  1.190476
Gadient Boosting Reg.     0.339939  1.737073  1.349681
xGradient Boosting Reg.   0.331074  1.748699  1.249664
Ridge Reg.                0.208038  1.902734  1.457248
Linear Reg.               0.206971  1.904016  1.459020
ElasticNet Reg.           0.145124  1.976868  1.573346
Lasso Reg.                0.068908  2.063109  1.662784